.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__recordByDate {
      height: 54px;
      display: flex;
      gap: 10px;
    }
    &__recordByRange {
      display: flex;
      gap: 10px;
      flex-direction: column;
    }
  }
}

